@import '../../styles/abstract/variables.scss';


.box-info-product {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-white;
    border-radius: 0px 0px 4px 4px;
    width: 324px;
    z-index: 999;

    .box-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 10px;
        font-size: .7rem;
        font-weight: 500;
        text-align: center;
        background-color: $color-black;
        color: $color-white;

        h2 {
            font-size: .9rem;
            font-weight: 700;
            max-width: 150px;
        }

        .clear {
            cursor: pointer;
            font-size: 32px;
        }
    }

    .box-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 10px 16px 10px;
        color: $color-dark_grey;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

        img {
            width: 70%;
        }

        .box-info {
            
            padding: 0 10px 10px 10px;
            margin-top: -4px;
            h3 {
                font-size: 1rem;
                font-weight: 700;
                margin: 20px 0;
            }

            .description {
                font-size: .8rem;
                line-height: 1.2rem;
                margin-bottom: 20px;
                padding-bottom: 20px;
                border-bottom: 1px solid $color-dark_grey;
            }

            .price {
                font-size: 1rem;
                font-weight: 500;
                display: block;
                margin-bottom: 10px;
            }

            .store {
                font-size: .8rem;
                opacity: .3;
                padding-bottom: 10px;
            }

            .radios {
                display: flex;
                gap: 20px;
                border: none;

                legend {
                    font-size: .9rem;
                    font-weight: 700;
                    border-top: 1px solid $color-grey;
                    padding-top: 10px;
                    margin-bottom: 10px;
                    width: 100%;
                }

                div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 4px;

                    input {
                        display: block;
                    }

                    label {
                        margin-bottom: 10px;
                    }

                }


            }

            button {
                font-size: 1rem;
                padding: 8px 10px;
                background-color: #9353FF;
                color: $color-white;
                border: none;
                cursor: pointer;
                transition: background-color .5s ease;

                &:hover {
                    background-color: #6b16ff;
                    transition: background-color .5s ease;
                }
            }
        }
    }
}


@media screen and (min-width: 950px) {
    .box-info-product {
        width: 80%;
        max-width: 800px;

        .box-head {
            padding: 16px 32px;

            h2 {
                max-width: 500px;
            }
        }

        .box-body {
            display: flex;
            flex-direction: row;
            gap: 16px;

            img {
                width: 100%;
                max-width: 350px;
            }

            .box-info {
                border: none;

                h3 {
                    font-size: 1.1rem;
                }
                .description {
                    font-size: .9rem;
                }

                .price {
                    font-size: 1.1rem;
                }
            }
        }
    }
}
